@use 'src/styles/mixins';

.absorber {
  height: 900px;
}

.faqs {
  & {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 16px;
    max-width: calc(100vw - 48px);
  }

  &_title {
    @include mixins.title();
    text-align: center;
    margin: 0;
    padding: 0px 0px 50px 0px;
  }

  &_text {
    @include mixins.text(
      $color: var(--text-color),
      $size: 1.1rem,
      $spacing: null
    );
    text-align: center;
    width: 750px;
    margin: 0 auto;
    padding: 0 0 80px 0;
  }
}
