@use 'styles/mixins';

.store {
  display: flex;

  & li {
    width: 240px;
    box-shadow: var(--button-shadow);

    &:hover {
      box-shadow: none;
    }
  }

  & li:first-child {
    margin: 0 20px 0 0;
  }
}
